@model Login

@{
    ViewData["Title"] = "Aviso";
}
<h1 class="display-3 text-center">Você precisa fazer Login antes.</h1>

<div class="d-flex justify-content-center">
    <a class="btn btn-success btn-lg" asp-area="" asp-controller="Autor" asp-action="Login">Login</a>
</div>


