@model IEnumerable<Autor>
@{
    ViewData["Title"] = "Lista";
}
<table class="table-primary w-100">
    <tr>
        <th class="w-25">Nome</th>
        <th class="w-25">data de Nascimento</th>
        <th class="w-25">Livros</th>
        <th class="w-25">Opções</th>
    </tr>
    <tr>
        <th></th>
    </tr>
   
    @foreach (Autor a in Model)
    {
        <tr>
            <td class="table-primary">@a.Nome</td>
            <td class="table-primary">@a.DataNascimento</td>
            
            @* AQUI AO INVÉS DE VIR O IDLIVRO TEM Q VIM OS NOMES DOS LIVROS *@
            <td>@a.NomeLivro</td>
            
            <td>
                <a class="btn btn-warning btn-sm"  href="/Autor/Editar?Id=@a.Id">Editar</a>
                <a class="btn btn-danger btn-sm"  href="/Autor/Remover?Id=@a.Id">Remover</a>
            </td>
        </tr>
    }
</table>
<p>
    @ViewBag.Mensagem
</p>