
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Cadastros de Livros e Autores</h1>
</div>


<div class="jumbotron text-center">
    <h1 class="display-4">Bem vindo ao sistema de informações</h1>
   
</div>